.DivConteneur {
  margin: 20px 40px;
  border: 1px solid #dd8519;
  background-color: #001f33;
  border-radius: 5px;
  padding: 16px;
  .DivContenu{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #06152a;
    background-color: #003858;
  }
}