@import "ElementStyle/L2/Bouton";
@import "ElementStyle/L2/StackPanel";
@import "ElementStyle/L2/Page";
@import "ElementStyle/L2/Background";
@import "ElementStyle/L2/DockPanel";
@import "ElementStyle/L2/DivConteneur";
@import "ElementStyle/L2/Label";
@import "ElementStyle/L2/Image";
@import "ElementStyle/L2/Bando";
@import "ElementStyle/L2/Boxer";
@import "ElementStyle/L2/Viewpdf";
@import "ElementStyle/L2/Warppanel";
@import "ElementStyle/L2/HighLight_Code";
@import "ElementStyle/L3/Experience";
@import "ElementStyle/L3/ComprtanceView";
@import "ElementStyle/L3/NavPortfolio";

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0px;
}