#PagePPE3_Mission_2 {
  background-color: #000d19;
  .DivContenu {
    padding: 10px 30px;
  }
  .Label_GrosText {
    margin: 12px 0px;
  }
  .Image_WinForm_01 {
    width: 800px;
    height: 600px;
    .Icone_Image_WinForm_01 {
      background-image: url("Image/WinForm_01.png");
    }
  }
}