#PagePPE2_Mission_3 {
  background-color: #000d19;
  .DivContenu {
    padding: 10px 30px;
  }
  .Label_GrosText {
    margin: 12px 0px;
  }

  .Image_AffichageWin_01 {
    width: 690px;
    height: 500px;
    .Icone_Image_AffichageWin_01 {
      background-image: url("Image/AffichageWin_01.png");
    }
  }
}