#PagePPE2_Mission_4 {
  background-color: #000d19;
  .DivContenu {
    padding: 10px 30px;
  }
  .Label_GrosText {
    margin: 12px 0px;
  }
  .Image_class_01 {
    width: 515px;
    height: 245px;
    .Icone_Image_class_01 {
      background-image: url("Image/class_01.png");
    }
  }
  .Image_AffichageWin_01 {
    width: 800px;
    height: 530px;
    .Icone_Image_AffichageWin_01 {
      background-image: url("Image/AffichageWin_01.png");
    }
  }
  .Image_AffichageWin_02 {
    width: 800px;
    height: 530px;
    .Icone_Image_AffichageWin_02 {
      background-image: url("Image/AffichageWin_02.png");
    }
  }
  .Image_AffichageWin_03 {
    width: 800px;
    height: 530px;
    .Icone_Image_AffichageWin_03 {
      background-image: url("Image/AffichageWin_03.png");
    }
  }
  .Image_Diagram {
    width: 800px;
    height: 655px;
    .Icone_Image_Diagram {
      background-image: url("Image/diagram.PNG");
    }
  }
}