<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/_Library/style.css">
    <title> Aimeric Dalvai|Portfolio{% block titre %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="../static/_Library/d/highlight.pack.js"></script>
    <script src="../static/_Library/app.js"></script>
    {% block Header %}
    {% endblock %}
</head>
<body>
    <div id="Contenu">

    </div>
</body>
</html>