#PagePPE2_Mission_2 {
  background-color: #000d19;
  .DivContenu {
    padding: 10px 30px;
  }
  .Label_GrosText {
    margin: 12px 0px;
  }
  .Image_BD_01{
    width: 400px;
    height: 400px;
    .Icone_Image_BD_01{
      background-image: url("Image/BD_01.png");
    }
  }
  .Image_Affichage_01{
    width: 1000px;
    height: 615px;
    .Icone_Image_Affichage_01{
      background-image: url("Image/Affichage_01.png");
    }
  }
  .Image_Affichage_02{
    width: 1000px;
    height: 645px;
    .Icone_Image_Affichage_02{
      background-image: url("Image/Affichage_02.png");
    }
  }
  .Image_Affichage_03{
    width: 1000px;
    height: 290px;
    .Icone_Image_Affichage_03{
      background-image: url("Image/Affichage_03.png");
    }
  }
  .Image_Affichage_04{
    width: 1000px;
    height: 590px;
    .Icone_Image_Affichage_04{
      background-image: url("Image/Affichage_04.png");
    }
  }
  .Image_Affichage_05{
    width: 1000px;
    height: 415px;
    .Icone_Image_Affichage_05{
      background-image: url("Image/Affichage_05.png");
    }
  }
  .Image_AffichageReq_01{
    width: 1000px;
    height: 460px;
    .Icone_Image_AffichageReq_01{
      background-image: url("Image/AffichageReq_01.png");
    }
  }
  .Image_AffichageReq_02{
    width: 1000px;
    height: 780px;
    .Icone_Image_AffichageReq_02{
      background-image: url("Image/AffichageReq_02.png");
    }
  }
}